body{
	background-image:url(./kkkbck.jpg);
}

h1{
	text-align: center;
	color: white;
}

a:hover {
	text-decoration: none;
}

#headbandleft {
	height:175px;
	width:20%;
	display: inline-block;
	margin-top: -1%;
	background-color: #CC0000;
	position: fixed;
	z-index:10;
}

#headbandcenter {
	height:175px;
	width:65%;
	display: inline-block;
	margin-left: 20%;
	margin-top: -1%;
	background-color: #CC0000;
	position: fixed;
	z-index:10;
}

#headbandright {
	height:175px;
	width:15%;
	display: inline-block;
	margin-left: 85%;	
	margin-top: -1%;
	position: fixed;	
	z-index:10;
}

#navtab {
	background-color: #CC0000;
	height: 175px;
	width: 99%;
}

#topspace {
	height: 300px;
	display:block;
	border: solid black;
	margin-bot: 300px;
}

#truebody {
	background-color: #555555;
	width: 90%;
	margin-top: 225px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 75px;
	padding-bottom: 100px;
	margin-bottom: 50px;
}

.menu {
	border: solid white 2px;
	font-size: 200%;
	font-family: Impact;
	text-align: center;
	background-color: #CC0000;
	color: white;
	width: 25%;
	position: absolute:
}

.menulink {
	background-color: #CC0000;
	color: white;
	width: 25%;
	position: absolute:
}

.articletab {
	display: block;
	margin-bottom: 100px;
	margin-left: 4%;
}

.articlepic {
	position: absolute;
	height: 100%;
	width: 20%;
	display:none;
}

.articletab:first {
	position: absolute;
	margin-top: 100px;
}

.articlehead {
	background-color: #CC0000;
	height: 50px;
	width: 150px;
	color:white;
	border: solid black;
	border-radius: 15px 15px;
	font-size: 18px;
}

.articlebody {
	background-color: #DDDDDD;
	width: 75%;	
	position: absolute;
	z-index:1;
}

.separator {
	height: 0px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 50px;
	display: block;
	border: solid black 2px;
	border-radius: 15px 15px;
}