body{
	background-image:url(./kkkbck.jpg);
}

h1{
	text-align: center;
	color: white;
}

span{

}

#headbandleft {
	height:175px;
	width:20%;
	display: inline-block;
	background-color: #CC0000;
}

#headbandcenter {
	height:175px;
	width:65%;
	display: inline-block;
	margin-left: -1%;
	background-color: #CC0000;
}

#headbandright {
	height:175px;
	width:15%;
	display: inline-block;
	margin-left: -1%;	
}

#navtab {
	background-color: #CC0000;
	height: 175px;
	width: 99%;
}

#truebody {
	background-color: #555555;
	width: 90%;
	margin: auto;
}

.menu {
	border: solid white 2px;
	font-size: 200%;
	font-family: Impact;
	text-align: center;
	background-color: #CC0000;
	color: white;
	width: 25%;
	position: absolute:
}

.menulink {
	background-color: #CC0000;
	color: white;
	width: 25%;
	position: absolute:
}

.articletab {
	display: block;
	margin-bottom: 100px;
}

.articlehead {
	background-color: #CC0000;
	height: 50px;
	width: 150px;
	color:white;
	border: solid black;
	border-radius: 15px 15px;
}

.articlebody {
	background-color: #FFFFFF;
	height: 50px;
	width: 75%;	
	border: solid black 1px;
	border-radius: 5px 5px;
	position: fixed;
}